@import 'aos/dist/aos.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set root theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Override for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global font and color styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif, Arial, Helvetica;
}
